.system {
    width: 1800px;
    height: 900px;
    display: grid;
    grid-template-columns: 340px 260px 300px 300px 290px 300px;
    grid-template-rows: 55px 80px 420px 45px 150px 150px;
    grid-template-areas: "a a a a a a"
                         "b b g g g f"
                         "b b e e e f"
                         "c d e e e f"
                         "c d h k j f"
                         "c d h i j f";
}

.title {
    grid-area: a;
}

.forceDirectedGraph {
    grid-area: b;
}

.statisticsGraph {
    grid-area: c;
}

.degreeDistributionGraph {
    grid-area: d;
}

.AUCPrecisionGraph {
    grid-area: g;
}

.analysisGraph {
    grid-area: e;
}

.console {
    grid-area: f;
}

.formula {
    grid-area: k;
}

.ABControl {
    grid-area: i;
}

.LERTRGraph {
    grid-area: j;
}

.algorithmResultGraph {
    grid-area: h;
}