.system {
    width: 1800px;
    height: 900px;
    display: grid;
    grid-template-columns: 340px 260px 890px 300px;
    grid-template-rows: 55px 80px 420px 45px 300px;
    grid-template-areas: "a a a a"
                         "b b g f"
                         "b b e f"
                         "c d e f"
                         "c d h f";
}

.title {
    grid-area: a;
}

.forceDirectedGraph {
    grid-area: b;
}

.statisticsGraph {
    grid-area: c;
}

.degreeDistributionGraph {
    grid-area: d;
}

.AUCPrecisionGraph {
    grid-area: g;
}

.analysisGraph {
    grid-area: e;
}

.console {
    grid-area: f;
}